/*GERAL*/
:root {
    --primaria: #6904B7;
    --secundaria: #F700FF;
    --branco: #FFF;
    --cinza: #C4CFDA;
    --cinza-escuro: #212121;
    --azul: #007bff;
    --azul-escuro: #04111e;
}

* {
	list-style: none;
	/*transition: all .3s ease;*/
}

body,
html {
    height: 100%
}

header, 
footer {
    width: 100%;
    background: var(--primaria);
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2rem;
    color: #FFF;
}

.arredondado {
	border-radius: 50%;
}

.backgrond-cinza {
	background: var(--cinza);
}

.card {
	box-shadow: -1px 4px 35px -4px #a5a5a5;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.middle {
	align-items: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

@font-face {
	font-family: 'humnst';
	src: url(/CSS/Fonts/tt0855m_.ttf);
}

@font-face {
	font-family: 'lemon-milk';
	src: url(/CSS/Fonts/LemonMilk.otf);
}

@font-face {
	font-family: 'lemon-milk';
	src: url(/CSS/Fonts/LemonMilkbold.otf);
	font-weight: bold;
}

/*CHECKBOX*/
.custom-checkbox {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.custom-checkbox + label {
	margin:0;
	margin-right: 25px;
}

.custom-checkbox + label::before {
	background-color: var(--cinza);
	border-radius: 4px;
	content: "";
	cursor: pointer;
	display: inline-flex;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	transform: translateY(5px);
}

.custom-checkbox:checked + label::before {
	background: url(/Imagens/Views/check.svg) no-repeat center / 68% var(--azul);
}

/*HEADER*/
header .navbar {
	padding: 0;
	justify-content: flex-end;
}

footer a {
    color: #FFF;
    font-weight: 600;
}

header .logo {
	width: 115px;
	height: 40px;
	background: url(../../Imagens/Views/logo-marca.svg) left center / 115px no-repeat;
	margin-top: 5px;
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-menu .btn-success {
    font-family: 'lemon-milk', sans-serif !important;
    font-size: 0.85rem;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.dropdown-item{
    font-weight: 600 !important;
}

.navbar .nav-item {	
	color: var(--primaria);
}

.navbar .dropdown-menu .nav-item:not(:last-child) {
	margin-bottom: 20px;
}

.navbar .nav-item ul {
	padding: 0;
}

.navbar .nav-item h1 {
	font-family: 'lemon-milk', sans-serif;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1.5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0;
	font-family: 'humnst', sans-serif;
	color: var(--primaria);
	font-size: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
	text-decoration: underline;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
	background-color: transparent;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	padding: 30px 20px;
	min-width: 210px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	border: none;
	margin-top: 25px;
	position: absolute;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
	width: 0;
	height: 0;
	box-sizing: content-box;
	border: 5px solid transparent;
	border-bottom-color: #FFF;
	content: '';
	position: absolute;
	top: -10px;
	right: 12px;
}

.dropdown-submenu .dropdown-menu.dropdown-menu-right {
	right: 100%;
	left: auto;
}

.caixa-menu,
.caixa-menu:hover,
.caixa-menu:active{
	padding: 0;
	width: 36px;
	height: 35px;
	display: flex;
	align-items: center;
	text-align: center;
	background: transparent;
	border: none;
	outline: none;
}

.caixa-menu img {
	margin: auto;
	width: 22px;
}

.menu_fixo {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navbar-expand-lg .navbar-toggler {
	display: block;
}

.li-perfil {
    margin-left: 10px;
}

.label-perfil {
    width: 30px;
    height: 30px;
    background: url(/Imagens/Views/user.svg) center center / cover no-repeat;
    border-radius: 50%;
    margin: 0px !important;
}

.li-perfil .img-label {
    background: url(/Imagens/Views/image.png) center center / cover no-repeat #CCC;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.li-perfil .img-label .img-hover {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background: url(/CSS/icons-open-iconic-master/svg/pencil-white.svg) center center / 15px no-repeat rgba(0, 0, 0, .5);
    opacity: 0;
    top: 0;
    left: 0;
}

.li-perfil .img-label:hover .img-hover {
    opacity: 1;
}

.li-perfil .img-label input {
    position: absolute !important;
    top: -100% !important;
}


/*FOOTER*/
@font-face {
    font-family: 'LemonMilkbold';
    src: url('/CSS/Fonts/LemonMilkbold.otf'), local("/CSS/Fonts/LemonMilkbold.otf");
}

@font-face {
    font-family: 'Humnst777 Lt BT';
    src: url('/CSS/Fonts/tt0855m_.ttf'), local('/CSS/Fonts/tt0855m_.ttf');
}

.box-footer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.box-footer .titulo-footer {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.titulo-footer {
    font-weight: 600 !important;
    text-transform: uppercase;
    font-family: 'LemonMilkbold';
    letter-spacing: 1.8px;
}

.box-footer ul {
    padding: 0;
}

.box-footer ul li {
    list-style: none;
    margin-top: 20px;
}

.box-footer ul li a {
    color: #FFF;
    font-size: 14px;
    font-family: 'Humnst777 Lt BT';
}

.box-footer ul li {
	list-style: none;
	margin-top: 20px;
}

.box-footer ul li a {
	color: #FFF;
	font-size: 14px;
}

main {
	min-height: calc(100vh - 269px);
	padding: 25px 25px 45px 25px;
}

.form-group label,
input[type=button],
button,
a.btn-primary {
    font-weight: 600 !important;
    font-size: 0.9rem;
    text-transform: uppercase;
}

textarea {
	resize: none;
}

.was-validated .form-control:invalid + .select2-container--default .select2-selection--multiple {
	border-color: #dc3545;
}

/*NOTA*/
span[class^=voto] {
	color: var(--cinza);
	cursor: pointer;
}

span[class^=voto]:hover {
	transform: scale(1.1);
}

.nota-1 .voto-1,
.nota-2 .voto-1,
.nota-3 .voto-1,
.nota-4 .voto-1,
.nota-5 .voto-1,
.nota-2 .voto-2,
.nota-3 .voto-2,
.nota-4 .voto-2,
.nota-5 .voto-2,
.nota-3 .voto-3,
.nota-4 .voto-3,
.nota-5 .voto-3,
.nota-4 .voto-4,
.nota-5 .voto-4,
.nota-5 .voto-5 {
	color: var(--primaria);
}

.valor-range {
	width: 100%;
}

.valor-range-tooltip {
	background: #25ccf9;
	color: var(--branco);
	padding: 0 8px;
	border-radius: 3px;
	top: -50px;
	transition: none;
}

.valor-range-tooltip::before {
	content: '';
	width: 0;
	height: 0;
	left: calc(50% - 8px);
	border: 8px solid transparent;
	border-top-color: #25ccf9;
	box-sizing: content-box;
	position: absolute;
	top: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #6904b7;
  border-color: #6904b7;
  border: none !Important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #470779  !important;
    border-color: #470779  !important;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
    border-color: #470779 !important;
}

.btn-primary:active, .btn-primary.active {
    box-shadow: 0 0 0 0.2rem #47077970 !important;
    border-color: #470779 !important;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #6904b7  !important;
  border-color: #6904b7  !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #470779  !important;
  border-color: #470779 !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #47077970 !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}

.btn-secondary {
  color: #fff;
  background-color: var(--secundaria);
  border-color: var(--secundaria);
  border: none !Important;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #D211DA !important;
    border-color: #D211DA !important;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
    border-color: #D211DA !important;
}

.btn-secondary:active, .btn-secondary.active {
    box-shadow: 0 0 0 0.2rem #D211DA70 !important;
    border-color: #D211DA !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #D211DA !important;
    border-color: #D211DA !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #F700FF70 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
}

.bg-primary {
    background-color: var(--primaria) !important;
}

.badge-secondary {
    background-color: var(--secundaria) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 0 3px 0;
    font-family: 'humnst', sans-serif;
    color: var(--primaria);
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 37px 26px;
    min-width: 226px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    border: none;
    margin-top: 25px;
    position: absolute;
}

.navbar-nav {
    flex-direction: row;
}

.custom-checkbox:checked + label::before {
    background: url(/Imagens/Views/check.svg) no-repeat center / 68% #6904b7;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #6904b7;
    border-color: #6904b7;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #c33 !important;
}

.select2-container--default [aria-selected].select2-results__option--highlighted {
    background-color: var(--primaria);
    color: white;
}

main .h1,
main .h2,
main .h3,
main .h4,
main .h5,
main .h6,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    color: var(--primaria);
    font-weight: 600 !important;
    text-transform: uppercase;
    font-family: "LemonMilkbold";
}

.table thead th {
    border-top: 1px solid #6904B7;
    border-bottom: 2px solid #6904B7;
    vertical-align: middle;
    text-transform: uppercase;
    color: #6904B7;
}

.table tbody th {
    color: #6904B7;
}

.table tbody th,
.table tbody td {
    vertical-align: middle;
}

.page-item.active .page-link {
    background-color: var(--primaria);
    border-color: var(--primaria);
    box-shadow: none;
}
