* {
    list-style: none;
}

body,
html {
    height: 100%
}

header,
footer {
	width: 100%;
	background: #007bff;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 25px;
	color: #FFF;
}

/*HEADER*/
header .navbar {
	padding: 0;
	justify-content: flex-end;
}

header .navbar .nav-link,
footer a {
    color: #FFF;
    font-weight: 600;
}

header .logo {
	width: 70px;
	height: 40px;
	background: url(../../Imagens/Views/nosso-show.svg) left center / 70px no-repeat;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}
.dropdown-item{
    font-weight: 600 !important;
}

.navbar .nav-item {
	margin-left: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	border-radius: 5px;
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
	background-color: #006de2;
}

.dropdown-submenu .dropdown-menu.dropdown-menu-right {
	right: 100%;
	left: auto;
}

button.navbar-toggler {
	border: 1px solid #FFF;
	padding: 0;
	width: 36px;
	height: 35px;
	display: flex;
	align-items: center;
	text-align: center;
}

button.navbar-toggler img {
	margin: auto;
	width: 16px;
}

/*FOOTER*/
.box-footer {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
}

.box-footer .titulo-footer {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
}

.titulo-footer {
    font-weight: 600 !important;
    text-transform: uppercase;
}

.box-footer ul {
    padding: 0;
}

.box-footer ul li {
	list-style: none;
	margin-top: 20px;
}

.box-footer ul li a {
	color: #FFF;
	font-size: 14px;
}

main {
	min-height: calc(100vh - 200px);
	padding: 25px 25px 45px 25px;
}

.form-group label,
input[type=button],
button {
	font-weight: 600 !important;
	font-size: 0.9rem;
	text-transform: uppercase;
}

textarea {
	resize: none;
}

.was-validated .form-control:invalid + .select2-container--default .select2-selection--multiple {
	border-color: #dc3545;
}