/*GERAL*/
:root {
	--branco: #FFF;
	--cinza: #C4CFDA;
	--cinza-escuro: #212121;
	--azul: #007bff;
	--azul-escuro: #04111e;
}

* {
	list-style: none;
	transition: all .3s ease;
}

body,
html {
    height: 100%
}

header,
footer {
	width: 100%;
	background: var(--azul);
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 25px;
	color: #FFF;
}

.arredondado {
	border-radius: 50%;
}

.backgrond-cinza {
	background: var(--cinza);
}

.card {
	box-shadow: -1px 4px 35px -4px #a5a5a5;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}

/*HEADER*/
header .navbar {
	padding: 0;
	justify-content: flex-end;
}

header .navbar .nav-link {
	color: #FFF;
    font-weight: 600;
}

header .logo {
	width: 70px;
	height: 40px;
	background: url(../../Imagens/Views/nosso-show.svg) left center / 70px no-repeat;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}

.navbar .nav-item {
	margin-left: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	border-radius: 5px;
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
	background-color: #006de2;
}

.dropdown-submenu .dropdown-menu.dropdown-menu-right {
	right: 100%;
	left: auto;
}

button.navbar-toggler {
	border: 1px solid #FFF;
	padding: 0;
	width: 36px;
	height: 35px;
	display: flex;
	align-items: center;
	text-align: center;
}

button.navbar-toggler img {
	margin: auto;
	width: 16px;
}

/*FOOTER*/
.box-footer {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
}

.box-footer .titulo-footer {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
}

.box-footer ul {
	padding: 0;
}

.box-footer ul li {
	list-style: none;
	margin-top: 20px;
}

.box-footer ul li a {
	color: #FFF;
	font-size: 14px;
}

main {
	min-height: calc(100vh - 269px);
	padding: 25px 25px 45px 25px;
}

.form-group label,
input[type=button],
button {
	font-weight: 600 !important;
	font-size: 0.9rem;
	text-transform: uppercase;
}

textarea {
	resize: none;
}

.was-validated .form-control:invalid + .select2-container--default .select2-selection--multiple {
	border-color: #dc3545;
}

/*NOTA*/
div[class^=nota] div[class^=estrela] {
	width: 10px;
	height: 10px;
}

.nota-1 .estrela-1,
.nota-2 .estrela-1,
.nota-3 .estrela-1,
.nota-4 .estrela-1,
.nota-5 .estrela-1,
.nota-2 .estrela-2,
.nota-3 .estrela-2,
.nota-4 .estrela-2,
.nota-5 .estrela-2,
.nota-3 .estrela-3,
.nota-4 .estrela-3,
.nota-5 .estrela-3,
.nota-4 .estrela-4,
.nota-5 .estrela-4,
.nota-5 .estrela-5 {
	background-image: url(/Imagens/Views/estrela-azul.svg)
}