<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="language" content="pt-br" />
    <link href="~/Imagens/favicon.ico" rel="icon" type="image/x-icon">
    <meta name="keywords" content="" />
    <meta name="robots" content="noindex" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="Grupo 01">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title | Nosso Show</title>
</head>
<body>
    <h2>Painel de Administração</h2>
    @RenderBody()
</body>
</html>