@model GP01NS.Classes.ViewModels.Estabelecimento.EventoVM

@{
	ViewBag.Title = "Meus Eventos";
	Layout = "~/Views/Layout/Layout.cshtml";

    var Estabelecimento = (GP01NS.Classes.ViewModels.EstabelecimentoVM)ViewBag.Estabelecimento;
}


<!-- Modal -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Cadastro de Evento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Evento cadastrado com sucesso.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary">Ver meus eventos</button>
			</div>
		</div>
	</div>
</div>*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @RenderPage("Parciais/CardMenu.cshtml")
        </div>
        <div class="col-md-7 ml-auto mr-auto">
            @using (Html.BeginForm())
            {
            <div class="col-md-12 form">
                <h5 class="text-uppercase">Evento de @Estabelecimento.Nome</h5>
                <br />
                <div class="form-group">
                    <label for="Titulo">Título</label>
                    @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", placeholder = "Título do evento", required = "required" })
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descrição</label>
                    @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control", placeholder = "Escreva sobre o evento aqui!", required = "required", maxlength = "2000", rows = "8" })
                </div>
                
                <div class="form-group">
                    <label for="endereço">Endereço</label>
                    <input type="text" class="form-control" id="day">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="musico">Convidar Músico<br></label>
                        <div class="musico">
                            <input type="text" class="form-control inputMusic" id="exampleFormControlFile1" placeholder="informe o usuário do músico">
                            <a class="btn btn-primary btn-sm btnMusic" id="" style="color: #fff;margin:10px 0 10px 0;">
                                Convidar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="duration">
                        Fotos do Evento<br>
                        <div style="color:#fff; margin:10px 0 10px 0;">
                            <a class="btn btn-success btn-sm" id="btn1"> + Fotos </a>
                            <a class="btn btn-danger btn-sm" id="btn2" style="margin-left:10px; color: #fff;">
                                -
                                Fotos
                            </a>
                        </div>
                    </label>
                    <div class="form-row" id="mRecebe">
                        <div class="form-group col-md-3"><input type="file" class="form-control-file" id="exampleFormControlFile1"></div>
                    </div>
                </div>
                <hr>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-success btnCriar" data-toggle="modal" data-target="#exampleModal">Cadastrar</button>
                    <button type="button" class="btn btn-danger btnCriar">Cancelar</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/Views/Evento/evento.js"></script>
