#load::selection {
    background-color: Transparent !important;    
}

#load {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    background-color: #FFF;
    z-index: 999;
    overflow: hidden;
    display: block;
    vertical-align: middle !important;
}

.load {
    vertical-align: top;
    width: 100%;
    text-align: center;
    display: block;
    vertical-align: middle !important;
    height: 100% !important;
}

.quadrado {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    position: relative;
    border: 4px solid #6904B7;
    top: 50%;
    animation: quadrado 2s infinite ease;
    -o-animation: quadrado 2s infinite ease;
    -ms-animation: quadrado 2s infinite ease;
    -webkit-animation: quadrado 2s infinite ease;
    -moz-animation: quadrado 2s infinite ease;
}

.progresso {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #6904B7;
    animation: progresso 2s infinite ease-in;
    -o-animation: progresso 2s infinite ease;
    -ms-animation: progresso 2s infinite ease;
    -webkit-animation: progresso 2s infinite ease;
    -moz-animation: progresso 2s infinite ease;
}

@keyframes quadrado {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes quadrado {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes quadrado {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes quadrado {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes quadrado {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@keyframes progresso {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-o-keyframes progresso {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-ms-keyframes progresso {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-webkit-keyframes progresso {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-moz-keyframes progresso {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}