<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="language" content="pt-br" />

    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@ViewBag.Description" />
    }

    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow,noimageindex" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="Gérison Sabino">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title | Nosso Show</title>
</head>
<body>
    <header>
        <h3>Header</h3>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        <h3>Footer</h3>
    </footer>
</body>
</html>