main, .container-fluid {
    margin: 0px !important;
    padding: 0px !important;
}

/*BUSCADOR*/
.buscador {
	z-index: 5;
	top: 30px;
	height: 0;
}

.buscador strong {
    color: var(--primaria);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.buscador .buscador-caixa {
	background: var(--branco);
	border-radius: 5px;
	box-shadow: 0 2px 4px -2px rgba(0,0,0,.8);
	overflow: hidden;
}

.buscador .buscador-input {
	width: calc(100% - 95px);
	height: 60px;
	border: 0;
	font-size: 18px;
	line-height: 45px;
	outline: none;
	padding: 15px;
}

.buscador .buscador-botao {
	width: 45px;
	background: url(/Imagens/Views/menu-black.svg) center center / 50% no-repeat transparent;
	border: none;
	cursor: pointer;
	opacity: .5;
	outline: none;
}

#btn-pesquisar {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.buscador .buscador-botao:hover {
    opacity: .8;
}

.buscador .buscador-botao.aberto {
	background-image: url(/Imagens/Views/x.svg);
	background-size: 40%;
}

.buscador .buscador-filtro {
	height: 0;
	display: none;
	border-top: 0 solid #f5f5f5;
}

.buscador .buscador-filtro.aberto {
    height: auto;
    padding: 25px 35px;
    border-width: 1px;
    max-height: 350px;
    display: block;
    overflow: auto;
}

.buscador .select2 {
    display: block !important;
    width: 100% !important;
}

.buscador .buscador-filtro label,
.sugestao-menu label{
	font-size: 14px;
	color: #828282;
}

.sugestao {
	margin-top: 45px;
	border: none;
}

.sugestao-menu {
	padding: 25px 35px;
	padding-bottom: 0;
}

.sugestao-menu-info {
	text-transform: uppercase;
	color: #656565;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.sugestao-menu-info strong {
	margin-right: 5px;
}

.sugestao-menu select {
	padding: 5px;
	border-radius: 3px;
	font-size: 14px;
	color: #656565;
	outline: none;
	background: transparent;
}

.sugestao-lista {
	padding-top: 35px;
}

.sugestao-item {
    width: calc(25% - 63px);
    border-radius: 7px;
    margin: 0 0 50px 50px;
    overflow: hidden;
    background: #FFF;
    cursor: pointer;
    position: relative;
    border: 1px solid #CED4DA;
    text-decoration: none !important;
}
.sugestao-item:hover {
	transform: translateY(-5px);
}

.sugestao-item-imagem {
	padding-top: 50%;
	background: url(/Imagens/Views/image.png) center center / cover no-repeat #CCC;
}

.sugestao-item-imagem .space-between {
	padding: 0 25px;
}

.sugestao-item-km {
	color: var(--branco);
}

.sugestao-item-texto {
	padding: 20px 25px 45px 25px;
	border-top: none;
}

.sugestao-item-nome {
	color: var(--azul);
	font-weight: 600;
    font-family: LemonMilkbold;
    color: var(--primaria);
}

.nota-1 .voto-1, .nota-2 .voto-1, .nota-3 .voto-1, .nota-4 .voto-1, .nota-5 .voto-1, .nota-2 .voto-2, .nota-3 .voto-2, .nota-4 .voto-2, .nota-5 .voto-2, .nota-3 .voto-3, .nota-4 .voto-3, .nota-5 .voto-3, .nota-4 .voto-4, .nota-5 .voto-4, .nota-5 .voto-5 {
    color: var(--secundaria);
}

.sugestao-item-endereco {
	color: #9E9E9E;
	font-size: 13px;
}

.sugestao-item .badge {
    color: var(--branco);
    margin-right: 3px;
}

.sugestao-item-tipo {
	color: #4CAF50;
	font-size: 13px;
	margin-top: 10px;
	position: absolute;
	bottom: 20px;
}

.sugestao .load {
	display: none;
}

.buscador-load {
	border-top: 1px solid #f5f5f5;
	display: none;
}

.buscador-load .quadrado {
    top: 25% !important;
}

.resultado {
    width: 100%;
    max-height: 340px;
    overflow: auto;
}

.resultado-item {
	padding: 7px 15px;
	border-top: 1px solid #f5f5f5;
	cursor: pointer;
}

.resultado-item:hover {
	background: #f5f5f5;
}

.resultado-item-imagem {
	width: 70px;
	height: 70px;
	background: center center / cover no-repeat;
}

.resultado-item-nome {
	color: var(--azul);
	font-weight: 600;
}

.resultado-item-endereco {
	color: #9E9E9E;
	font-size: 13px;
    font-weight: 600;
}

.resultado-item-endereco:hover {
	color: #6904b7 !important;
}

span.oi-map-marker {
    font-size: 11px !important;
    margin-right: 5px !important;
}

.resultado-item-badges {
	color: #9E9E9E;
	font-size: 13px;
}

.resultado-item-km {
	color: #9E9E9E;
	font-size: 13px;
}

.resultado-item-tipo {
	color: #4CAF50;
	font-size: 13px;
	padding-top: 3px;
}

.resultado-item-nota {
	font-size: 14px;
}

@media screen and (max-width: 995px) {
    .sugestao-item {
		width: calc(50% - 70px);
	}

	.sugestao-menu-info {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 600px) {
	.resultado-item-imagem {
		display: none;
	}

	.sugestao-item {
		width: calc(100% - 100px);
	}
}

@media screen and (max-width: 455px) {
	.tipo-busca .checkbox-grupo label:not(:last-child) {
		width: 100%;
		margin-bottom: 10px
	}

	.buscador .buscador-filtro.aberto {
		height: 400px;
	}
}