.container-fluid, main {
    padding: 0px !important;
}

.container-fluid strong {
    color: var(--primaria);
}

.row {
    margin: 0px !important;
}

.div1 {
    background-size: cover;
    width: 100%;
    height: 200px;
    padding: 0px !important;
}

.div1 > img {
    width: 100%;
    height: 200px;
}

.div2 {
    margin-top: 60px !important;
    width: 100%;
    height: 100%;
}

.mapa {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

.mapa iframe {
    margin-bottom: -5px !important;
}


.bloco-participante {
    width: 100%;
    margin-top: -70px;
}

.col-md-3 {
    padding-left: 3%;
    padding-right: 3%;
}

.col-md-9 {
    padding-left: 50px;
    padding-right: 50px;
}

i,
span {
    margin-right: 10px;
}

.carousel {
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
    padding: 1rem;
}

.display-5 {
    font-weight: 600;
}

.col-md-12.mapa {
    padding: 0px !important;
}

.perfil {
    width: 100%;
    height: 100%;
}

.perfil-imagem {
    width: 100%;
    height: 200px;
    background: url(/Imagens/Views/user.svg) center center / cover no-repeat;
}

.perfil .foto-imagem {
    background: url(/Imagens/Views/image.png) center center / cover no-repeat #CCC;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-size: 200px;
}

.perfil .foto-imagem .foto-hover {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background: url(/CSS/icons-open-iconic-master/svg/pencil-white.svg) center center / 50px no-repeat rgba(0, 0, 0, .5);
    opacity: 0;
    top: 0;
    left: 0;
}

.perfil .foto-imagem:hover .foto-hover {
    opacity: 1;
}

.perfil .foto-imagem input {
    position: absolute !important;
    top: -100% !important;
}

@media (max-width: 768px) {
    .bloco-participante {
        margin: 0;
    }

    .col-md-4 {
        padding-left: auto;
        padding-right: auto;
    }
}
