@font-face {
    font-family: Lemon-Milk-bold;
    src: url('/CSS/Fonts/LemonMilkbold.otf');
}

@font-face {
    font-family: Humnst777LtBT;
    src: url('/CSS/Fonts/Humnst777LtBT.ttf');
}

.container-fluid, .row, body, html, .cabeca{height: 100%;}

.fonteMilk {
    font-family: Lemon-Milk-bold;
    letter-spacing: 1px;
}

.fonteHumnst {
    font-family: Humnst777LtBT;
}



body,
html {
    background: url('/Imagens/Views/Inicio/background.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.cabecalho {
    padding: 30px 87px 0 87px;
}

.conteudo {
    width: 100%;
    padding-top: 74px;
    padding-left: 15%;    
    padding-right: 20%;
    color: #fff;
}

img{
    width: 200px;
    color: #fff;
}

.detalhe{
    height: 64px;
    width: 18px;
    background: #8d36c8;
    border-radius: 50px;
    margin-right: 33px;
}

.btn-ent {
    background: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    color: #7e2ced;
    box-shadow: 0 10px 16px -1px #00000045;
}

.btn-at {
    background: #fff;
    padding: 20px 35px;
    border-radius: 50px;
    box-shadow: 0 10px 16px -1px #00000045;
    color: #7e2ced;
    margin-top: 10px;
}

.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    box-shadow: 0 10px 16px -1px #00000045;
    color: #7e2ced;
    transition: 0.2s;

}

.link:active {
    text-decoration: none;
    box-shadow: 0 3px 16px -1px #00000045;
    transition: 0.2s;
}


footer{
    background-color: #fff;
    height: 216px;
}

.footer-conteudo{
    padding: 90px 87px 0 87px;
}

nav > ul {
    list-style: none !important;
}

nav ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 36px;
    text-decoration: none;
}

.a{
    color: #7e2ced;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.a:hover{
    color: #7e2ced;
    text-decoration: underline;
}