.comentario-item {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    align-items: center;
}

.comentario-foto {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    background: center center / cover no-repeat;
}

.comentario-nome {
    font-size: 12px;
    color: var(--azul-escuro);
    margin-right: 10px;
    width: calc(50% - 55px);
}

.comentario-mensagem {
    font-size: 10px;
    color: var(--azul-escuro);
    width: 49.5%;
}