<div class="col-lg-8 col-sm-12 no-padding flex">
	<div class="col-lg-7 col-sm-12 no-padding social-media">
		<span class="display-5">Compartilhe esse evendo nas redes sociais</span>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="javascript:void(0);"><i class="fab fa-twitter titleCustom" data-placement="top" title="Twitter" style="color: #55acee"></i></a></li>
			<li class="list-inline-item"><a href="javascript:void(0);"><i class="fab fa-instagram titleCustom" data-placement="top" title="Instagram" style="color: #55acee"></i></a></li>
			<li class="list-inline-item"><a href="javascript:void(0);"><i class="fab fa-facebook-square titleCustom" data-placement="top" title="Facebook" style="color: #3a589e"></i></a></li>
			<li class="list-inline-item"><a href="javascript:void(0);"><i class="fab fa-google titleCustom" data-placement="top" title="Google+" style="color: #dc4e41"></i></a></li>
		</ul>
	</div>
	<div class="col-lg-5 col-sm-12 no-padding">
		<span class="display-5">Avalie esse Evento</span>
		<div class="nota-4">
			<span class="voto-1 oi oi-heart"></span>
			<span class="voto-2 oi oi-heart"></span>
			<span class="voto-3 oi oi-heart"></span>
			<span class="voto-4 oi oi-heart"></span>
			<span class="voto-5 oi oi-heart"></span>
		</div>
	</div>
</div>	