<div class="row">
	<div class="perfil">
		<div class="perfil-imagem" style="background-image: url(https://image.freepik.com/fotos-gratis/menina-feliz-gravando-uma-musica_1149-1032.jpg)"></div>
		<div class="perfil-texto text-center">
		Nome do artista<br>
		<small><a href="javascript:void(0);">Denúnciar artista</a></small>
		</div>
	</div>	
</div>

<div class="row mt-5">
	<div class="habilidade">
		<div class="mb-2"><b>Habilidades</b></div>
		<div class="habilidade-lista flex">
			<div class="habilidade-item">
				Habilidade
			</div>
			<div class="habilidade-item">
				Habilidade
			</div>
			<div class="habilidade-item">
				Habilidade
			</div>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="sobre">
		<div class="mb-2"><b>Sobre o musico</b></div>
		<div class="sobre-texto col-lg-11 col-sm-12 no-padding">
			Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Suco de cevadiss deixa as pessoas mais interessantis. Quem num gosta di mé, boa gentis num é.
			<br><br>
			Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Manduma pindureta quium dia nois paga. Per aumento de cachacis, eu reclamis. Diuretics paradis num copo é motivis de denguis.
		</div>
	</div>
</div>

<div class="row mt-5 mb-4">
	<div class="portfolio col-12 no-padding">
		<div class="mb-2">Veja os trabalhos desse artista</div>
		<div class="portfolio-itens flex">
			<a href="javascript:void(0);" class="logo-soundcloud titleCustom" data-placement="top" title="Soundclick"></a>
			<a href="javascript:void(0);" class="logo-spotify titleCustom" data-placement="top" title="Spotify"></a>
			<a href="javascript:void(0);" class="logo-deezer titleCustom" data-placement="top" title="Deezer"></a>
			<a href="javascript:void(0);" class="logo-youtube titleCustom" data-placement="top" title="Youtube"></a>
		</div>
	</div>
</div>