@{
    ViewBag.Title = "Descricao";
}

<div class="row">
	<div class="mb-2 col-12">Veja as fotos deste músico</div>
	<div class="foto-lista mb-5 flex space-between">
		<div class="foto-item">
			<div class="foto-imagem" style="background-image: url(https://image.freepik.com/fotos-gratis/menina-feliz-gravando-uma-musica_1149-1032.jpg)"></div>
		</div>
		<div class="foto-item">
			<div class="foto-imagem" style="background-image: url(https://image.freepik.com/fotos-gratis/hipster-homem-com-barba-vermelha-com-uma-guitarra-no-campo_58409-2543.jpg)"></div>
		</div>
		<div class="foto-item">
			<div class="foto-imagem" style="background-image: url(https://image.freepik.com/fotos-gratis/homem-sentado-e-tocando-sintetizador_23-2147864203.jpg)"></div>
		</div>
		<div class="foto-item">
			<div class="foto-imagem" style="background-image: url(https://image.freepik.com/fotos-gratis/menina-com-violao_1157-8508.jpg)"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="mb-2 col-12">Comentários recentes</div>
	<div class="comentario-lista mb-5">
		<div class="comentario-item flex">
			<div class="comentario-foto" style="background-image: url(https://image.freepik.com/fotos-gratis/menina-com-violao_1157-8508.jpg)"></div>
			<div class="comentario-nome">Nome do usuario</div>
			<div class="comentario-mensagem text-center">
				<div class="nota-3">
					<div class="estrela-1"></div>
					<div class="estrela-2"></div>
					<div class="estrela-3"></div>
					<div class="estrela-4"></div>
					<div class="estrela-5"></div>
				</div>
			</div>

		</div>
	</div>
</div>