@media (min-width: 768px) {
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 85%;
        max-width: 85%;
    }
}

@media (max-width: 400px) {
    .form {
        display: block;
        padding: 0;
    }
}

@media (max-height: 630px) {
    .form {
        display: block;
        padding: 3em 0.1em;
    }
}

.form {
    overflow: visible;
}
