/*form input[type="file"] {
	background-color: #4285f4;
	position: relative;
	overflow: hidden;
	padding: 5px 10px;
	border-radius: 50px;
}

input[type="file"]::before {
	content: "+ anexe o arquivo";
	width: 146px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 10px;
	background-color: #4285f4;
	color: white;
	padding: 9px 0px;
}

.form {
	margin-top: 20px;
	padding-top: 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 35px -1px #d0d0d0;
}

.musico {
	position: relative;
}

.btnMusic {
	position: absolute;
	top: 0px;
	left: 10px
}

.inputMusic {
	padding-left: 90px;
	height: 50px;
	;
}

.btnCriar {
	width: 150px;
	margin: 0 20px;
}

.table td,
.table th {
	vertical-align: baseline;
}*/

.usuario-item {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    align-items: center;
}

.usuario-foto {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    background: center center / cover no-repeat;
}

.usuario-nome {
    font-size: 12px;
    color: var(--azul-escuro);
    margin-right: 10px;
    width: calc(50% - 55px);
}

.usuario-botao {
    width: 49.5%;
}

