/*form input[type="file"] {
	background-color: #4285f4;
	position: relative;
	overflow: hidden;
	padding: 5px 10px;
	border-radius: 50px;
}

input[type="file"]::before {
	content: "+ anexe o arquivo";
	width: 146px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 10px;
	background-color: #4285f4;
	color: white;
	padding: 9px 0px;
}

.form {
	margin-top: 20px;
	padding-top: 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0px 5px 35px -1px #d0d0d0;
}

.musico {
	position: relative;
}

.btnMusic {
	position: absolute;
	top: 0px;
	left: 10px
}

.inputMusic {
	padding-left: 90px;
	height: 50px;
	;
}

.btnCriar {
	width: 150px;
	margin: 0 20px;
}

.table td,
.table th {
	vertical-align: baseline;
}*/

/*BUSCADOR*/

.buscador .buscador-caixa {
    background: var(--branco);
    border-radius: 5px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.8);
    overflow: hidden;
}

.buscador .buscador-input {
    width: calc(100% - 95px);
    height: 45px;
    border: 0;
    font-size: 18px;
    line-height: 45px;
    outline: none;
    padding: 15px;
}

.buscador .buscador-botao {
    width: 45px;
    background: url(/Imagens/Views/menu-black.svg) center center / 50% no-repeat transparent;
    border: none;
    cursor: pointer;
    opacity: .5;
    outline: none;
}

.buscador .buscador-botao:hover {
    opacity: .8;
}

.buscador .buscador-botao.aberto {
    background-image: url(/Imagens/Views/x.svg);
    background-size: 40%;
}

.buscador .buscador-filtro {
    height: 0;
    overflow: hidden;
    border-top: 0 solid #f5f5f5;
}

.buscador .buscador-filtro.aberto {
    height: auto;
    padding: 25px 35px;
    border-width: 1px;
    max-height: 350px;
    overflow: auto;
}

.buscador .select2 {
    display: block !important;
    width: 100% !important;
}

.buscador .buscador-filtro label,
.sugestao-menu label {
    font-size: 14px;
    color: #828282;
}


.buscador-load {
    height: 50px;
    border-top: 1px solid #f5f5f5;
    display: none;
}

    .buscador-load .quadrado {
        top: 25% !important;
    }

.resultado {
    width: 100%;
    max-height: 340px;
    overflow: auto;
}

.resultado-item {
    padding: 7px 15px;
    border-top: 1px solid #f5f5f5;
    cursor: pointer;
}

    .resultado-item:hover {
        background: #f5f5f5;
    }

.resultado-item-imagem {
    width: 70px;
    height: 70px;
    background: center center / cover no-repeat;
}

.resultado-item-texto {
}

.resultado-item-nome {
    color: var(--azul);
    font-weight: 600;
}

.resultado-item-endereco {
    color: #9E9E9E;
    font-size: 13px;
}

.resultado-item-km {
    color: #9E9E9E;
    font-size: 13px;
}

.resultado-item-tipo {
    color: #4CAF50;
    font-size: 13px;
    padding-top: 3px;
}

.resultado-item-nota {
    font-size: 14px;
}

@media screen and (max-width: 995px) {
    .sugestao-item {
        width: calc(50% - 70px);
    }

    .sugestao-menu-info {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    .resultado-item-imagem {
        display: none;
    }

    .sugestao-item {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 455px) {
    .tipo-busca .checkbox-grupo label:not(:last-child) {
        width: 100%;
        margin-bottom: 10px
    }
}


.usuario-item {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    align-items: center;
}

.usuario-foto {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    background: center center / cover no-repeat;
}

.usuario-nome {
    font-size: 12px;
    color: var(--azul-escuro);
    margin-right: 10px;
    width: calc(50% - 55px);
}

.usuario-botao {
    width: 49.5%;
}

@media (min-width: 768px) .col-md-7 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-12, .col-lg-9, .col-md-9 {
    padding-left: 0;
    padding-right: 0;
}
