:root {
  --azul: rgb(0, 123, 255);
}

.Flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  border: none;
  text-align: left;
  padding: 0;
}

.modal-content {
  padding: 35px;
}

.modal-content .close{
  position: absolute;
  top: 10px;
  right: 15px;
}

.PerfilVertical {
  margin-bottom: 20px;
}

.PerfilVertical__Imagem .FotoUsuario {
  padding: 40px;
  background: url(user.svg) center center / cover no-repeat;
  border-radius: 50%;
  margin-right: 15px;
}

.PerfilVertical__Texto {
  /*width: 75%;*/
  width: auto;
}

.PerfilVertical__Nome {
  color: var(--primaria);
  font-weight: 600;
  margin: 0px !important;
}

.PerfilVertical__Endereco,
.modal-content .col-form-label {
  color: #9E9E9E;
  font-size: 13px;
}

.PerfilVertical__Tipo {
  color: #4CAF50;
  font-size: 13px;
}

.modal-content .avaliacao {
  font-size: 25px;
}

.oi-heart:before {
  position: relative;
  z-index: 5;
}

.modal-content .avaliacao span > div {
  pointer-events: none;
}

.Btn--close {
  box-shadow: inset 0 0 0 1px currentColor;
  background: none;
  color: rgb(187, 187, 187);
}
