@{ 
    var Conta = (GP01NS.Models.usuario)ViewBag.BaseUsuario;
    
}

<header>
    <div class="text-center logo"></div>
    @if (Conta != null)
    {
        switch (Conta.Tipo)
        {
            case 1:
                @RenderPage("~/Views/Layout/Padrao/Parciais/Menu/Administrador.cshtml");
                break;

            case 2:
                @RenderPage("~/Views/Layout/Padrao/Parciais/Menu/Estabelecimento.cshtml");
                break;

            case 3:
                @RenderPage("~/Views/Layout/Padrao/Parciais/Menu/Fa.cshtml");
                break;

            case 4:
                @RenderPage("~/Views/Layout/Padrao/Parciais/Menu/Musico.cshtml");
                break;
        }
    }
    else
    {
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/entrar/">
                            <span style="color: #FFF; font-family: LemonMilkbold; text-transform: uppercase;">Entrar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    }
</header>