@model GP01NS.Classes.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Início";
    Layout = "~/Views/Entrar/Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-12 col-lg-9 ml-auto mr-auto mt-10 form" style="margin-top: 15%;">
            <div class="col-md-7 ml-auto mr-auto text-left">
                <div class=" text-center">
                    <h1 class="display-4">@Model.Nome, Seja bem-vindo! =)</h1>
                    <br>
                    <p class="display-5">@("@" + Model.Username)</p>
                    <hr>
                    <a class="btn btn-danger" href="/sair/" role="button">SAIR</a>
                </div>
            </div>  
        </div>
    </div>
</div>