@model GP01NS.Classes.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Início";
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-12 col-lg-9 ml-auto mr-auto mt-10 form" style="margin-top: 5%;">
            <div class="col-md-7 ml-auto mr-auto text-left">

                <form action="/Musico/UploadProfile" enctype="multipart/form-data" method="post">
                    <input type="file" id="Arquivo" name="Arquivo" required="required" />
                    <input type="submit" value="Enviar arquivo" />
                </form>
            </div>  
        </div>
    </div>
</div>