@model GP01NS.Classes.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Início";
}

<style>
    main, .container-fluid {
        margin: 0px !important;
        padding: 0px !important;
    }

</style>

<div class="container-fluid fill">
    <div id="mapa" style="min-height: calc(-200px + 100vh);"></div>
</div>

<script src="~/Scripts/mapa.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD302LfE2vA-uKZl0y2MFSAJYdnBeQwTNE"></script>