@model GP01NS.Classes.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Início";
}

<style>
    main, .container-fluid {
        margin: 0px !important;
        padding: 0px !important;
    }
</style>

<link href="~/CSS/Views/mapa.css" rel="stylesheet" />
<link href="~/Scripts/Plugins/customrange-plugin/html-input-range.css" rel="stylesheet" />

<div class="container-fluid fill relative">
	<div class="buscador absolute col-12">
        <div class="buscador-caixa flex col-8 no-padding mx-auto">
            <input class="typeahead buscador-input" type="text" placeholder="Buscar">
            <button class="buscador-botao" onclick="$('.buscador .buscador-botao, .buscador .buscador-filtro').toggleClass('aberto');"></button>
            <div class="buscador-filtro relative col-12 flex middle">
                @using (Html.BeginForm())
                {
                    @*<div class="no-margin no-padding row col-12 space-between">
                <label for="html-input-range">Distância maxima</label>
                <output for="html-input-range">0 km</output>
                <div class="col-12 no-padding">
                <input type="range" id="html-input-range">
                </div>
                </div>*@
                    <div class="no-margin no-padding row col-12">
                        <strong for="tipo">Buscar por:</strong>
                        <div class="col-12 no-padding flex">
                            <input type="checkbox" name="tipo" value="2" class="custom-checkbox" id="tipo-estabelecimento" />
                            <label for="tipo-estabelecimento">Estabelecimento</label>
                            <input type="checkbox" name="tipo" value="3" class="custom-checkbox" id="tipo-evento" />
                            <label for="tipo-evento">Evento</label>
                            <input type="checkbox" name="tipo" value="4" class="custom-checkbox" id="tipo-musico" />
                            <label for="tipo-musico">Músico</label>
                        </div>
                    </div>
                }

                @*<div class="no-margin no-padding row col-12">
            <label for="html-input-range">Nota minima</label>
            <div class="col-12 no-padding">
            <div class="nota">
            <span class="voto-1 oi oi-heart"></span>
            <span class="voto-2 oi oi-heart"></span>
            <span class="voto-3 oi oi-heart"></span>
            <span class="voto-4 oi oi-heart"></span>
            <span class="voto-5 oi oi-heart"></span>
            </div>
            </div>
            </div>*@
                <div class="mr-0 ml-0 mt-3 no-padding row col-12" id="resultados">
                    <strong>Resultados</strong>
                    <ul class="list-group list-group-flush container-fluid">
                        @for (int i = 0; i < 20; i++)
                        {
                            <li class="list-group-item list-group-item-action">Cras justo odio</li>
                            <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
                            <li class="list-group-item list-group-item-action">Morbi leo risus</li>
                            <li class="list-group-item list-group-item-action">Porta ac consectetur ac</li>
                            <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
                        }
                    </ul>
                </div>
            </div>
        </div>		
	</div>
	<div id="mapa" style="min-height: calc(100vh - 55px);"></div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQOVgr1EKPU6Ygpb23qkWw4NqSUsFuEWY"></script>
<script src="~/Scripts/Plugins/customrange-plugin/html-input-range.js"></script>
<script src="~/Scripts/mapa.js"></script>
