@{
    ViewBag.Title = "Resultados";
}


<link href="~/CSS/Views/Inicio/resultados.css" rel="stylesheet" />
<div class="container">
    <div class="col">
        <div class="float-left">
            <h5>Resultados da busca</h5>
        </div>
        <div class="float-right">
            <a href="/inicio/" class="btn btn-primary">Voltar</a>
        </div>
        <div class="clearfix"></div>
    </div> 
    <div class="col">
        @Html.Hidden("JSON")
        <div class="comentario-lista mb-4" id="resultados"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var json = JSON.parse($("#JSON").val());

        var estabelecimentos = json.Estabelecimentos != "" ? eval(json.Estabelecimentos) : eval("[]");
        var eventos = json.Eventos != "" ? eval(json.Eventos) : eval("[]");
        var musicos = json.Musicos != "" ? eval(json.Musicos) : eval("[]");

        var html = "";


        if (json.Musicos != "") {
            html += "<h6>Músicos</h6>";
            if (musicos.length == 0) {
                html += "<div class='comentario-item mb-3 flex'>";
                html += "    <div class='col text-center'>Nenhum resultado encontrado</div>";
                html += "</div>";
            }

            for (var i = 0; i < musicos.length; i++) {
                html += "<div class='comentario-item mb-3 flex'>";
                html += "    <div class='comentario-foto' style='background-image: url(http://nossoshow.gerison.net" + musicos[i].Imagem + ")'></div>";
                html += "    <div class='comentario-nome'><a href='/inicio/musico/" + musicos[i].Username + "'>" + musicos[i].Nome + "</a></div>";
                html += "    <div class='comentario-mensagem text-center'>";
                html += "        <div class='col text-right'>";
                html += "           <a href='/inicio/musico/" + musicos[i].Username + "'>Perfil</a>";
                html += "        </div>";
                html += "    </div>";
                html += "</div>";
            }
        }

        if (json.Eventos != "") {

            html += "<h6>Eventos</h6>";
            if (eventos.length == 0) {
                html += "<div class='comentario-item mb-3 flex'>";
                html += "    <div class='col text-center'>Nenhum resultado encontrado</div>";
                html += "</div>";
            }

            for (var i = 0; i < eventos.length; i++) {
                html += "<div class='comentario-item mb-3 flex'>";
                html += "    <div class='comentario-foto' style='background-image: url(http://nossoshow.gerison.net" + eventos[i].Imagem + ")'></div>";
                html += "    <div class='comentario-nome'><a href='/inicio/evento/" + eventos[i].ID + "'>" + eventos[i].Nome + "</a></div>";
                html += "    <div class='comentario-mensagem text-center'>";
                html += "        <div class='col'>" + eventos[i].Endereco + "</div>";
                html += "        <div class='col text-right'>";
                html += "           <a href='/inicio/evento/" + eventos[i].ID + "'>Perfil</a>";
                html += "        </div>";
                html += "    </div>";
                html += "</div>";
            }
        }

        if (json.Estabelecimentos != "") {

            html += "<h6>Estabelecimentos</h6>";
            if (estabelecimentos.length == 0) {
                html += "<div class='comentario-item mb-3 flex'>";
                html += "    <div class='col text-center'>Nenhum resultado encontrado</div>";
                html += "</div>";
            }

            for (var i = 0; i < estabelecimentos.length; i++) {
                html += "<div class='comentario-item mb-3 flex'>";
                html += "    <div class='comentario-foto' style='background-image: url(http://nossoshow.gerison.net" + estabelecimentos[i].Imagem + ")'></div>";
                html += "    <div class='comentario-nome'><a href='/inicio/estabelecimento/" + estabelecimentos[i].Username + "'>" + estabelecimentos[i].Nome + "</a></div>";
                html += "    <div class='comentario-mensagem text-center'>";
                html += "        <div class='col'>" + estabelecimentos[i].Endereco + "</div>";
                html += "        <div class='col text-right'>";
                html += "           <a href='/inicio/estabelecimento/" + estabelecimentos[i].Username + "'>Perfil</a>";
                html += "        </div>";
                html += "    </div>";
                html += "</div>";
            }
        }
        $("#resultados").html(html);
    });

</script>
