body > main {
    background: var(--cinza);
}

.card-body {
    padding: 50px;
}

.perfil-imagem {
    width: 150px;
    height: 150px;
    background: url(/Imagens/Views/user.svg) center center / cover no-repeat;
    border-radius: 50%;
}

.perfil-texto {
    text-transform: uppercase;
    margin-top: 5px;
    color: var(--azul-escuro);
}

.perfil-texto small {
    font-size: 60%
}

.habilidade-item {
    padding: 2px 10px;
    border-radius: 5px;
    background: var(--azul);
    color: var(--branco);
    margin: 0 5px 5px 0;
}

.sobre-texto {
    padding: 15px;
}

.portfolio-itens a {
    width: 30px;
    height: 30px;
    background: center center / cover no-repeat;
    display: block;
    margin-right: 15px
}

.portfolio-itens .logo-soundcloud {
    background-image: url(/Imagens/Views/Musico/soundcloud.svg);
}

.portfolio-itens .logo-youtube {
    background-image: url(/Imagens/Views/Musico/youtube.svg);
}

.portfolio-itens .logo-spotify {
    background-image: url(/Imagens/Views/Musico/spotify.svg);
}

.portfolio-itens .logo-deezer {
    background-image: url(/Imagens/Views/Musico/deezer.png);
}

.lado-fotos {
    margin: 0;
    padding: 0;
}

.foto-lista {
    width: 100%;
    padding-right: 15px
}

.foto-lista .foto-item {
    width: 50%;
    padding: 0 0 15px 15px;
}

.foto-lista .foto-item .foto-imagem {
    background: url(/Imagens/Views/image.png) center center / cover no-repeat #CCC;
    border-radius: 5px;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.foto-lista .foto-item .foto-imagem .foto-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/CSS/icons-open-iconic-master/svg/pencil-white.svg) center center / 50px no-repeat rgba(0, 0, 0, .5);
    opacity: 0;
    top: 0;
    left: 0;
}

.foto-lista .foto-item .foto-imagem:hover .foto-hover {
    opacity: 1;
}

.foto-lista .foto-item .foto-imagem input {
    position: absolute;
    top: -100%;
}

.comentario-item {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    align-items: center;
}

.comentario-foto {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    background: center center / cover no-repeat;
}

.comentario-nome {
    font-size: 12px;
    color: var(--azul-escuro);
    margin-right: 10px;
    width: calc(50% - 55px);
}

.comentario-mensagem {
    font-size: 10px;
    color: var(--azul-escuro);
    width: 49.5%;
}

.btn-primary {
    width: 100%;
    padding: 1rem;
}

.card-compartilhar {
    width: 100%;
}

.social-media ul li {
    font-size: 20px;
}