main {
    padding: 0px !important;
}

.card-body {
    padding: 50px;
}

.card-body strong {
    color: var(--primaria);
}

.perfil-imagem {
    width: 200px;
    height: 200px;
    background: url(/Imagens/Views/user.svg) center center / cover no-repeat;
    border-radius: 50%;
}

.perfil .foto-imagem {
    background: url(/Imagens/Views/image.png) center center / cover no-repeat #CCC;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.perfil .foto-imagem .foto-hover {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background: url(/CSS/icons-open-iconic-master/svg/pencil-white.svg) center center / 50px no-repeat rgba(0, 0, 0, .5);
    opacity: 0;
    top: 0;
    left: 0;
}

.perfil .foto-imagem:hover .foto-hover {
    opacity: 1;
}


.perfil .foto-imagem input {
    position: absolute !important;
    top: -100% !important;
}

.perfil-texto {
    text-transform: uppercase;
    margin-top: 5px;
    color: var(--azul-escuro);
}

.perfil-texto small {
    font-size: 60%
}

.habilidade-item {
    padding: 2px 10px;
    border-radius: 5px;
    background: var(--primaria);
    color: var(--branco);
    margin: 0 5px 5px 0;
}

.sobre-texto {
    padding: 15px;
}

.list-inline-item {
    vertical-align: middle;
    margin-top: 10px;
}

.portfolio-itens a {
    width: 25px;
    height: 25px;
    background: center center / cover no-repeat;
    display: block;
}

.portfolio-itens .logo-soundcloud {
    background-image: url(/Imagens/Views/Musico/soundcloud.svg);
}

.portfolio-itens .logo-youtube {
    background-image: url(/Imagens/Views/Musico/youtube.svg);
}

.portfolio-itens .logo-spotify {
    background-image: url(/Imagens/Views/Musico/spotify.svg);
}

.portfolio-itens .logo-deezer {
    background-image: url(/Imagens/Views/Musico/deezer.png);
}

.lado-fotos {
    margin: 0;
    padding: 0;
}

.foto-lista {
    width: 100%;
    padding-right: 15px
}

.foto-lista .foto-item {
    width: 50%;
    padding: 0 0 15px 15px;
}

.foto-lista .foto-item .foto-imagem {
    background: url(/Imagens/Views/image.png) center center / cover no-repeat #CCC;
    border-radius: 5px;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.foto-lista .foto-item .foto-imagem .foto-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/CSS/icons-open-iconic-master/svg/pencil-white.svg) center center / 50px no-repeat rgba(0, 0, 0, .5);
    opacity: 0;
    top: 0;
    left: 0;
}

.foto-lista .foto-item .foto-imagem:hover .foto-hover {
    opacity: 1;
}

.foto-lista .foto-item .foto-imagem input {
    position: absolute;
    top: -100%;
}

.comentario-item {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    align-items: center;
}

.comentario-foto {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    background: center center / cover no-repeat;
}

.comentario-nome {
    font-size: 12px;
    color: var(--azul-escuro);
    margin-right: 10px;
    width: calc(50% - 55px);
}

.comentario-mensagem {
    font-size: 10px;
    color: var(--azul-escuro);
    width: 49.5%;
}

.btn-primary, .btn-danger {
    width: 100%;
    padding: 1rem;
}

.card-compartilhar {
    width: 100%;
}

.social-media ul li {
    font-size: 20px;
}

#modal-avaliar .oi-heart {
    font-size: 2rem;
}

#modal-imagem{
    max-height: 800px;
}

#modal-imagem .modal-header {
        background-color: #6904B7;
}


#modal-avaliar-titulo {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


@media (max-width:768px) {
    .card-body {
        padding: 1rem;
    }

    iframe {
        width: 100% !important;
    }
}