<ul class="nav flex-column form">
	<li class="nav-item">
		<span class="nav-link">Meu Perfil</span>
		<ul>
			<li class="nav-item"><a class="nav-link" href="#">Alterar dados</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Minha assinatura</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Promover evento</a></li>
		</ul>
	</li>
</ul>