<footer>
    <div class="box-footer mx-auto form-group">
        <div class="col-md-4 col-xl-3 col-sm-6">
            <div class="titulo-footer">Fã</div>
            <ul>
                <li><a href="#">Denunciar usuário</a></li>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Responsabilidade</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xl-3 col-sm-6">
            <div class="titulo-footer">Estabelecimento</div>
            <ul>
                <li><a href="#">Denunciar evento</a></li>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Responsabilidade</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xl-3 col-sm-6">
            <div class="titulo-footer">Artista</div>
            <ul>
                <li><a href="#">Crie sua conta</a></li>
                <li><a href="#">Por que usar o Nosso Show</a></li>
                <li><a href="#">Serviços</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xl-3 col-sm-6">
            <div class="titulo-footer">Pagamento</div>
            <ul>
                <li><a href="#">Reclamar</a></li>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Segurança</a></li>
            </ul>
        </div>
    </div>
</footer>