@model GP01NS.Classes.ViewModels.MusicoVM

@{
    ViewBag.Title = "Agenda";
}

<h2>Agenda</h2>
<label>Agenda</label>
<p>@Model.GetAgendaJSON()</p>

<label>Convites</label>
<p>@Model.GetConvitesJSON()</p>