@model GP01NS.Classes.ViewModels.MusicoVM

@{
    ViewBag.Title = "Agenda";
}

<h2>Agenda</h2>
<label>Agenda</label>
<p>@Model.GetAgendaJSON()</p>

<label>Convites</label>
<p>@Model.GetConvitesJSON()</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Visualizações</th>
            <th scope="col">Usuários autenticados</th>
            <th scope="col">Navegantes</th>
            <th scope="col">Publicação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>100</td>
            <td>100</td>
            <td>200</td>
            <td>
                <div class="usuario-botao text-right">
                    <button type="button" class="btn btn-success btn-sm">Publicar</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>100</td>
            <td>100</td>
            <td>200</td>
            <td>
                <div class="usuario-botao text-right">
                    <button type="button" class="btn btn-danger btn-sm">Desativar</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>100</td>
            <td>100</td>
            <td>200</td>
            <td>
                <div class="usuario-botao text-right">
                    <button type="button" class="btn btn-danger btn-sm">Desativar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>