@{
    ViewBag.Title = "Impulsionar";
}

<h2>Impulsionar Perfil</h2>
<form method="post" action="/musico/checkout/">
    <button class="btn btn-secondary">pagar</button>
</form>

<form method="post" action="/musico/consultartransacao/">
    <input type="text" id="transacao" name="transacao" />
    <button class="btn btn-secondary">Consultar</button>
</form>