@{
	ViewBag.Title = "Músico";
	Layout = "~/Views/Layout/Layout.cshtml";
}

<!--STYLES-->
<link href="~/CSS/Views/Musico/index.css" rel="stylesheet" />

<div class="container-fluid">
	<div class="row">
		<div class="form col-md-12 mx-auto">
			<h5>CADASTRO DE MÚSICO</h5>
			@using (Html.BeginForm())
			{
				<div class="row">
					<div class="form-group col-12">
						<label for="nome">Nome artístico</label>
						<input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Digite seu nome completo" required>
					</div>
					<div class="form-group col-12">
						<label for="exampleFormControlTextarea1">Descrição</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite em até 500 caracteres sua experiência"></textarea>
					</div>
					<div class="form-group col-12">
						<label for="inputGroupSelect01">Habilidades</label>
						<select id="inputGroupSelect01" class="select-custom form-control" placeholder="Selecione suas habilidades" multiple required>
							<optgroup label="Grupo 1">
								<option value="volvo">Item 1</option>
								<option value="saab">Item 2</option>
							</optgroup>
							<optgroup label="Grupo 2">
								<option value="volvo">Item 1</option>
								<option value="saab">Item 2</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="text-center"><button type="submit" class="btn btn-primary">SALVAR</button></div>
			}
		</div>
	</div>
</div>
