@model GP01NS.Classes.ViewModels.MusicoVM

@{
    ViewBag.Title = Model.NomeArtistico;
}


<h2>@Model.NomeArtistico</h2>

<img src="@Model.GetImagemPerfil()" alt="profile" />

<form action="/Musico/UploadProfile" method="post" enctype="multipart/form-data">
    <input type="file" id="Arquivo" name="Arquivo" onchange="javascript:this.form.submit();">
</form>

<p>
    @Model.Descricao
</p>
<p>Nascimento: @Model.Nascimento.ToShortDateString()</p>
