<div class="sugestao col mx-auto mb-5 no-padding flex">
	<div class="sugestao-menu">
		<label>Tipo</label>
		<select onchange="sugestao.mudaTipo(this.value)">
			<option value="evento" selected>Evento</option>
			<option value="musico">Músico</option>
			<option value="estabelecimento">Evento</option>
			<option value="enteresse">Interesse</option>
		</select>
	</div>
	<div class="sugestao-lista show">
		<div class="sugestao-titulo">Eventos</div>
		<div class="sugestao-lista-evento custom-scrollbar" data-tipo="evento">
			<div class="flex"></div>
			<div class="load">
				<span class="quadrado">
					<span class="progresso"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="sugestao-lista">
		<div class="sugestao-titulo">Músicos</div>
		<div class="sugestao-lista-musico custom-scrollbar" data-tipo="musico">
			<div class="flex"></div>
			<div class="load">
				<span class="quadrado">
					<span class="progresso"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="sugestao-lista">
		<div class="sugestao-titulo">Estabelecimentos</div>
		<div class="sugestao-lista-estabelecimento custom-scrollbar" data-tipo="estabelecimento">
			<div class="flex"></div>
			<div class="load">
				<span class="quadrado">
					<span class="progresso"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="sugestao-lista">
		<div class="sugestao-titulo">Interesse</div>
		<div class="sugestao-lista-enteresse custom-scrollbar" data-tipo="enteresse">
			<div class="flex"></div>
			<div class="load">
				<span class="quadrado">
					<span class="progresso"></span>
				</span>
			</div>
		</div>
	</div>
</div>
