<div class="sugestao col mx-auto mb-5 no-padding">
    <div class="sugestao-menu flex space-between">
        <div class="col-sm-12 col-lg-8 sugestao-menu-info">
            <h1>Sugestões</h1>
        </div>
        <div class="col-sm-6 col-lg-3">
            <label for="ordenarPor">Ordenar por</label>
            <select id="ordenarPor" class="col-12">
                <option>Meus interesses</option>
                <option>Quem eu sigo</option>
                <option>Mais próximos</option>
            </select>
        </div>
    </div>
    <div class="sugestao-lista flex">
        <div class="sugestao-item">
            <div class="sugestao-item-imagem" style="background-image: url(https://images.pexels.com/photos/518389/pexels-photo-518389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
                <div class="col-12 pb-2 flex space-between">
                    <div class="sugestao-item-km">
                        30 km
                    </div>
                    <div class="nota-3 sugestao-item-nota">
                        <span class="voto-1 oi oi-heart"></span>
                        <span class="voto-2 oi oi-heart"></span>
                        <span class="voto-3 oi oi-heart"></span>
                        <span class="voto-4 oi oi-heart"></span>
                        <span class="voto-5 oi oi-heart"></span>
                    </div>
                </div>
            </div>
            <div class="sugestao-item-texto">
                <div class="sugestao-item-nome">
                    Citibank Hall
                </div>
                <div class="sugestao-item-endereco">
                    Av. das Nações Unidas, 17955, 04795-100
                </div>
                <div class="sugestao-item-tipo">
                    Estabelecimento
                </div>
            </div>
        </div>
        <div class="sugestao-item">
            <div class="sugestao-item-imagem" style="background-image: url(https://images.pexels.com/photos/1259863/pexels-photo-1259863.jpeg?auto=compress&cs=tinysrgb&h=650&w=940)">
                <div class="col-12 pb-2 flex space-between">
                    <div class="sugestao-item-km">
                        15 km
                    </div>
                    <div class="nota-5 sugestao-item-nota">
                        <span class="voto-1 oi oi-heart"></span>
                        <span class="voto-2 oi oi-heart"></span>
                        <span class="voto-3 oi oi-heart"></span>
                        <span class="voto-4 oi oi-heart"></span>
                        <span class="voto-5 oi oi-heart"></span>
                    </div>
                </div>
            </div>
            <div class="sugestao-item-texto">
                <div class="sugestao-item-nome">
                    Sertanejo Music
                </div>
                <div class="sugestao-item-endereco">
                    Rua Tagipuru, 795 - Barra Funda - São Paulo - SP
                </div>
                <div class="sugestao-item-tipo">
                    Evento
                </div>
            </div>
        </div>
        <div class="sugestao-item">
            <div class="sugestao-item-imagem" style="background-image: url(http://ligadoamusica.com.br/wp-content/uploads/2015/07/cachorro-grande-2015-rui-mendes.jpg)">
                <div class="col-12 pb-2 flex space-between">
                    <div class="sugestao-item-km">
                        9 km
                    </div>
                    <div class="nota-3 sugestao-item-nota">
                        <span class="voto-1 oi oi-heart"></span>
                        <span class="voto-2 oi oi-heart"></span>
                        <span class="voto-3 oi oi-heart"></span>
                        <span class="voto-4 oi oi-heart"></span>
                        <span class="voto-5 oi oi-heart"></span>
                    </div>
                </div>
            </div>
            <div class="sugestao-item-texto">
                <div class="sugestao-item-nome">
                    Cachorro Grande
                </div>
                <div class="sugestao-item-endereco">
                    Av. Francisco Matarazzo, 694 – Água Branca - São Paulo/SP
                </div>
                <div class="sugestao-item-tipo">
                    Músico
                </div>
            </div>
        </div>
        <div class="sugestao-item">
            <div class="sugestao-item-imagem" style="background-image: url(http://ligadoamusica.com.br/wp-content/uploads/2018/06/roger-waters-brasil-2018-300x199.jpg)">
                <div class="col-12 pb-2 flex space-between">
                    <div class="sugestao-item-km">
                        9 km
                    </div>
                    <div class="nota-3 sugestao-item-nota">
                        <span class="voto-1 oi oi-heart"></span>
                        <span class="voto-2 oi oi-heart"></span>
                        <span class="voto-3 oi oi-heart"></span>
                        <span class="voto-4 oi oi-heart"></span>
                        <span class="voto-5 oi oi-heart"></span>
                    </div>
                </div>
            </div>
            <div class="sugestao-item-texto">
                <div class="sugestao-item-nome">
                    Roger Waters
                </div>
                <div class="sugestao-item-endereco">
                    Av. Francisco Matarazzo, 694 – Água Branca - São Paulo/SP
                </div>
                <div class="sugestao-item-tipo">
                    Músico
                </div>
            </div>
        </div>
    </div>
</div>