<div class="sugestao col mx-auto mb-5 no-padding">
	<div class="sugestao-menu flex space-between">
		<div class="col-sm-12 col-lg-8 sugestao-menu-info">
			<h1>Sugestões</h1>
		</div>
		<div class="col-sm-6 col-lg-3">
			<label for="ordenarPor">Ordenar por</label>
			<select id="ordenarPor" class="col-12">
				<option>Meus interesses</option>
				<option>Quem eu sigo</option>
				<option>Mais próximos</option>
			</select>
		</div>
	</div>
	<div class="sugestao-lista flex"></div>
	<div class="load">
		<span class="quadrado">
			<span class="progresso"></span>
		</span>
	</div>
</div>