@{
    ViewBag.Title = "Início";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="/administrador/cadastrar-usuario/" class="btn btn-primary">Cadastrar usuário</a>
        </div>
    </div>
</div>