@{
    ViewBag.Title = "Cadastro de Músico";
    Layout = "~/Views/Autenticacao/Layout.cshtml";
}

<link href="~/CSS/Views/Autenticacao/musico.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
    <div class="col-md-3 col-xl-3 img"></div>
    <div class="col-md-7 ml-auto mr-auto">
        @using (Html.BeginForm())
        {
            <h5>CADASTRO DE MÚSICO</h5>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Digite seu nome completo" disabled />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Digite seu email" disabled />
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="number" class="form-control" id="cpf" aria-describedby="emailHelp" placeholder="Digite seu CPF">
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="Email">Data de Nascimento</label>
                        <input type="email" class="form-control" id="date" aria-describedby="emailHelp" placeholder="Data de nascimento">
                    </div>
                    <div class="form-group">
                        <label for="Celular">Celular</label>
                        <input type="number" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Digite seu celular">
                    </div>
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="number" class="form-control" id="senha" aria-describedby="emailHelp" placeholder="Digite seu CEP">
                    </div>
                </div>
                <div class="form-group col">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Adicionar Descrição</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Digite em até 500 caracteres sua experiência"></textarea>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Gêneros músicais</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected></option>
                            <option value="Arrasta-pé">Arrasta-pé</option>
                            <option value="Arrocha">Arrocha</option>
                            <option value="B-Pop">B-Pop</option>
                            <option value="Batucada (ritmo)">Batucada (ritmo)</option>
                            <option value="Calypso">Calypso</option>
                            <option value="Cacuriá">Cacuriá</option>
                            <option value="Canto congregacional">Canto congregacional</option>
                            <option value="Carimbó">Carimbó</option>
                            <option value="Cateretê">Cateretê</option>
                            <option value="Chamamé">Chamamé</option>
                            <option value="Chula (Bahia)">Chula (Bahia)</option>
                            <option value="Ciranda">Ciranda</option>
                            <option value="Coco de roda">Coco de roda</option>
                            <option value="Congo (folclore)">Congo (folclore)</option>
                            <option value="Congo capixaba">Congo capixaba</option>
                            <option value="Drum and bossa">Drum and bossa</option>
                            <option value="Embolada">Embolada</option>
                            <option value="Espetacularidade do maracatu">Espetacularidade do maracatu</option>
                            <option value="Fandango (Nordeste do Brasil)">Fandango (Nordeste do Brasil)</option>
                            <option value="Festa do Gambá">Festa do Gambá</option>
                            <option value="Forrocore">Forrocore</option>
                            <option value="Funk proibidão">Funk proibidão</option>
                            <option value="Guitarrada">Guitarrada</option>
                            <option value="Incelença">Incelença</option>
                            <option value="Iúna (capoeira)">Iúna (capoeira)</option>
                            <option value="Jongo">Jongo</option>
                            <option value="Música junina">Música junina</option>
                            <option value="Kilômetro 11">Kilômetro 11</option>
                            <option value="Lambada">Lambada</option>
                            <option value="Lambadão cuiabano">Lambadão cuiabano</option>
                            <option value="Latin house">Latin house</option>
                            <option value="Lundu">Lundu</option>
                            <option value="Lundu marajoara">Lundu marajoara</option>
                            <option value="Marabaixo">Marabaixo</option>
                            <option value="Maracatu (ritmo)">Maracatu (ritmo)</option>
                            <option value="Maracatu Ilê Aláfia">Maracatu Ilê Aláfia</option>
                            <option value="Marchinha de Carnaval">Marchinha de Carnaval</option>
                            <option value="Maxixe">Maxixe</option>
                            <option value="Moda de viola">Moda de viola</option>
                            <option value="Modinha">Modinha</option>
                            <option value="Cânticos evangélicos">Cânticos evangélicos</option>
                            <option value="Corinhos">Corinhos</option>
                            <option value="Ópera-samba-rock">Ópera-samba-rock</option>
                            <option value="Pagode">Pagode</option>
                            <option value="Quadrilha (dança)">Quadrilha (dança)</option>
                            <option value="Rancheira">Rancheira</option>
                            <option value="Rasqueado">Rasqueado</option>
                            <option value="Repente">Repente</option>
                            <option value="Rock onanista">Rock onanista</option>
                            <option value="Seresta">Seresta</option>
                            <option value="Siriá">Siriá</option>
                            <option value="Stronda">Stronda</option>
                            <option value="Tchê music">Tchê music</option>
                            <option value="Tecnobrega">Tecnobrega</option>
                            <option value="Vanerão">Vanerão</option>
                            <option value="Vissungo ">Vissungo </option>
                            <option value="Xote">Xote</option>
                        </select>
                    </div>
                </div>
            </div>*@
            <div class="text-center">
                <button type="submit" class="btn btn-primary">CRIAR </button>
            </div>
        }
    </div>
    </div>
</div>
