@{
    ViewBag.Title = "Confirmar Conta";
}

@using (Html.BeginForm())
{
    <a  target="_blank" href="http://www.nossoshow.gerison.net">
        <img src="~/Imagens/Views/Entrar/logo.png">
    </a>
    <h5 style="font-weight: bold;" >@("@" + ViewBag.Nome)</h5>
    <div class="separador">&nbsp;</div>
    <p>Sua conta foi confirmada, efetue login para continuar com o cadastro.</p>                  
    <a href="/entrar/" style='color:#6904b7;'>Fazer login</a>    
}