@{
    ViewBag.Title = "Entrar";
}

@using (Html.BeginForm())
{
    <a target="_blank" href="/inicio/">
        <img src="~/Imagens/Views/Entrar/logo.png">
    </a>
    <h5 style="font-weight: bold;">Seja Bem-Vindo(a)</h5>
    <div class="separador">&nbsp;</div>
    <p>Nos campos abaixo, informe o usuário/e-mail e senha de sua conta.</p>
    <div id="erro">
        @if (!string.IsNullOrEmpty(ViewBag.Mensagem))
        {
            <div class="alert alert-danger">
                <strong>@ViewBag.Mensagem</strong>
            </div>
        }

        @if (!string.IsNullOrEmpty(ViewBag.Sucesso))
        {
            <div class="alert alert-success">
                <strong>@ViewBag.Sucesso</strong>
            </div>
        }
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" placeholder="usuário ou e-mail" required />
        <label class="invalid-feedback">Nome de Usuário ou E-mail inválido!</label>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="Senha" name="Senha" placeholder="senha" required="" />
        <label class="invalid-feedback">Senha inválida!</label>
    </div>
    <a href="#" class="text-center" id="a-esqueci">esqueceu sua senha?</a>
    <button type="submit" class="btn btn-danger">
        <strong>entrar</strong>  &rarr;
    </button>
    <a href="/entrar/cadastro/" class="text-center">criar uma conta!</a>
}
