@{
    ViewBag.Title = "Redefinir Senha";
    Layout = "~/Views/Layout/Entrar/Layout.cshtml";
}

@using (Html.BeginForm())
{
    <a  target="_blank" href="http://www.nossoshow.gerison.net"><img src="~/Imagens/Views/Entrar/logo.png"></a>
    <h5 style="font-weight: bold;" >Olá, vamos começar?</h5>
    <div class="separador">&nbsp;</div>
    <p>Por favor, nos campos abaixo informe sua nova senha.</p>
    <div id="erro"></div>
    <div class="form-group">
        <input type="password" class="form-control" id="senha" name="senha" aria-describedby="emailHelp" placeholder="Digite sua senha" required="" />
        <div class="invalid-feedback">Informe a Senha!</div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="confirmacao" name="confirmacao" aria-describedby="emailHelp" placeholder="Confirme sua senha" required="" />
        <div class="invalid-feedback">As Senhas Não Conferem!</div>
    </div>

    if (!string.IsNullOrEmpty(ViewBag.Mensagem))
    {
        <div class="alert alert-danger">
            <strong>@ViewBag.Mensagem</strong>
        </div>
    }

    if (!string.IsNullOrEmpty(ViewBag.Sucesso))
    {
        <div class="alert alert-success">
            <strong>@ViewBag.Sucesso</strong>
        </div>
    }

    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            <strong>Cadastrar nova senha</strong>
        </button>
    </div>
}

<script src="~/Scripts/form_main.js"></script>