@{
	var Conta = new GP01NS.Classes.ViewModels.AdministradorVM((GP01NS.Models.usuario)ViewBag.BaseUsuario);
}

@*<aside class="col-md-4">
    <div class="Logo text-center"> 
        <img src="~/Imagens/Views/logo-marca.svg" alt="" class="logoTopo" />
    </div>
        <nav class="row usuario text-center">
          <ul>
            <li>
              <div class="Perfil--email">Bem-Vindo(a),</div>
              <div class="Perfil--name">@Conta.Nome</div>
            </li>
          </ul>
        </nav>
        <nav class="row">
            <ul>
                <li>
                    <a href="/administrador/">
                        <i class="fas fa-home"></i> 
                        <span class="some">Início</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/administrador/administradores/">
                        <i class="fas fa-shield-alt"></i> 
                        <span class="some">Administradores</span>
                    </a>
                </li>
                <li>
                    <a href="/administrador/estabelecimentos/">
                        <i class="fas fa-building"></i>
                        <span class="some">Estabelecimentos</span>
                    </a>
                </li>
                <li>
                    <a href="/administrador/fas/">
                        <i class="fas fa-headphones"></i>
                        <span class="some">Fãs</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/administrador/musicos/">
                        <i class="fas fa-music"></i> 
                        <span class="some">Músicos</span>
                    </a>
                </li>
                <li>
                    <a href="/administrador/usuarios-de-teste/">
                        <i class="fas fa-screwdriver"></i>
                        <span class="some">Usuário de Teste</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="javascript:void(0);">
                    <i class="fas fa-user"></i>
                        <span class="some">@Conta.Nome</span>
                    </a>
                </li>
                <li>
                    <a href="/administrador/sair/">
                    <i class="fas fa-sign-out-alt"></i> <span class="some">Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
      </aside>*@

<aside class="col-lg-2 col-md-4">
    <div class="Logo text-center">
        <img src="~/Imagens/Views/logo-marca.svg" alt="" class="logoTopo">
    </div>
    <nav class="row">
        <ul>
            <li>
                <a href="/administrador/">
                    <i class="fas fa-home"></i> Início
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/administrador/administradores/">
                    <i class="fas fa-shield-alt"></i> Administradores
                </a>
            </li>
            <li>
                <a href="/administrador/estabelecimentos/">
                    <i class="fas fa-building"></i> Estabelecimentos
                </a>
            </li>
            <li>
                <a href="/administrador/fas/">
                    <i class="fas fa-headphones"></i> Fãs
                </a>
            </li>
            <li>
                <a href="/administrador/musicos/">
                    <i class="fas fa-music"></i> Músicos
                </a>
            </li>
            <li>
                <a href="/administrador/usuarios-de-teste/">
                    <i class="fas fa-screwdriver"></i> Usuários de Teste
                </a>
            </li>
            <li>
                <a href="/administrador/pagamentos/">
                    <i class="far fa-credit-card"></i> Pagamentos
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i> @Conta.Nome
                </a>
            </li>
            <li>
                <a href="/administrador/sair/">
                    <i class="fas fa-sign-out-alt"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</aside>
