@{
	var Conta = new GP01NS.Classes.ViewModels.AdministradorVM((GP01NS.Models.usuario)ViewBag.BaseUsuario);
}

<aside class="col-lg-2 col-md-4">
    <div class="Logo text-center">
        <h3>Nosso Show</h3>
    </div>
    <nav class="row">
        <ul>
            <li>
                <a href="/administrador/">
                    <i class="fas fa-home"></i> Início
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/administrador/administradores/">
                    <i class="fas fa-shield-alt"></i> Administradores
                </a>
            </li>
            <li>
                <a href="/administrador/estabelecimentos/">
                    <i class="fas fa-building"></i> Estabelecimentos
                </a>
            </li>
            <li>
                <a href="/administrador/fas/">
                    <i class="fas fa-headphones"></i> Fãs
                </a>
            </li>
            <li>
                <a href="/administrador/musicos/">
                    <i class="fas fa-music"></i> Músicos
                </a>
            </li>
            <li>
                <a href="/administrador/usuarios-de-teste/">
                    <i class="fas fa-screwdriver"></i> Usuários de Teste
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/administrador/conta/">
                    <i class="fas fa-user"></i> @Conta.Nome
                </a>
            </li>
            <li>
                <a href="/administrador/sair/">
                    <i class="fas fa-sign-out-alt"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</aside>
