@model GP01NS.Classes.ViewModels.UsuarioVM

@{
    ViewBag.Title = "Quem eu sigo";
}

<link href="~/CSS/Views/Fa/seguindo.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2>Quem eu sigo</h2>
        @Html.Hidden("JSON", Model.GetSeguindoJSON())
    </div>
    <br />
    <div class="row">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" data-toggle="pill" href="#tab-estabelecimentos" role="tab" aria-controls="v-pills-home" aria-selected="true">Estabelecimentos</a>
            <a class="nav-link" data-toggle="pill" href="#tab-eventos" role="tab" aria-controls="v-pills-profile" aria-selected="false">Eventos</a>
            <a class="nav-link active" data-toggle="pill" href="#tab-musicos" role="tab" aria-controls="v-pills-messages" aria-selected="false">Músicos</a>
        </div>
        <div class="tab-content col">
            <div class="tab-pane fade" id="tab-estabelecimentos" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
            <div class="tab-pane fade" id="tab-eventos" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
            <div class="tab-pane fade active show" id="tab-musicos" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/Views/Fa/seguindo.js"></script>
