<ul class="nav flex-column form">
	<li class="nav-item">
		<span class="nav-link">Evento</span>
		<ul>
			<li class="nav-item"><a class="nav-link" href="/evento/cadastro">Cadastro</a></li>
			<li class="nav-item"><a class="nav-link" href="/evento">Meus eventos</a></li>
		</ul>
	</li>
</ul>