.resultado {
    width: 100%;
}

.resultado-item {
    padding: 7px 15px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    cursor: pointer;
}

.resultado-item:hover {
    background: #f5f5f5;
}

.resultado-item-imagem {
    width: 70px;
    height: 70px;
    background: center center / cover no-repeat;
    float: left;
}

.resultado-item-nome {
    color: var(--azul);
    font-weight: 600;
}

.resultado-item-endereco {
    color: #9E9E9E;
    font-size: 13px;
}

.resultado-item-km {
    color: #9E9E9E;
    font-size: 13px;
}

.resultado-item-tipo {
    color: #4CAF50;
    font-size: 13px;
    padding-top: 3px;
}

.resultado-item-nota {
    font-size: 14px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--primaria);
}

.nav-pills .nav-link {
    background-color: #F5F5F5;
    margin-bottom: 5px;
    color: var(--primaria);
    font-weight: 600 !important;
    text-transform: uppercase;
    font-family: "LemonMilkbold";
}

.badge-secondary {
    background-color: var(--secundaria);
}